* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Verdana,Geneva,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body::-webkit-scrollbar-track {
  background: #eee;
}

body::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border: 1px solid #ddd;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#site-container {
  /*max-width: 900px;*/
  margin: 0 auto;
}

.max-width-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 1em;
  font-family: Verdana,Geneva,sans-serif;
}

button {
  font-family: Verdana,Geneva,sans-serif;
}

input[type="file"] {
  width: 100%;
  padding: 1em;
  cursor: pointer;
}

input[type="file"]:focus {
  outline: none;
}

a,
a:hover,
a:active,
a:focus,
.link,
.link:hover,
.link:active,
.link:focus {
  color: #067df7;
  text-decoration: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

a:focus,
.link:focus {
  outline: 0;
}

#connections {
  display: inline-block;
  width: auto;
  max-height: 120px;
  overflow: auto;
  font-size: 0.8em;
  white-space: pre-wrap;
  margin-bottom: 2em;
  background: rgba(239, 239, 239, 0.35);
  padding: 1em;
}

#header {
  margin: 0 0 2em 0;
  display: flex;
  justify-content: space-between;
  background: #efefef;
  box-shadow: 0 1px 10px rgba(151,164,175,.1);
  padding: 1em;
}

#header h1 {
  font-size: 2em;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
}

#header img {
  width: 150px;
  height: auto;
}

#header hgroup {
  display: flex;
}

#header .info {
  display: inline-block;
  margin: 10px 0 10px 0;
  font-size: 10px;
  color: #222;
  line-height: 1.4;
}

#header .info ul {
}

#header .channel {
  margin-left: 2em;
}

#header .channel a {
  font-size: 12px;
}

#header label {
  font-size: 12px;
  margin-right: 0.4em;
  display: block;
  font-size: 0.7em;
  color: #676767;
  display: flex;
  align-items: center;
}

#header label .help-tooltip {
  margin-left: 0.2em;
}

#share-url {
  width: 180px;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 2px;
  font-size: 0.7em;
  background: #fff;
  border: 1px solid #e0e0e0;
}

#share-url:hover {
  border-color: #ccc;
}

#channel-url-copy {
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

#channel-url-copy:focus {
  outline: none;
}

#form {
  display: block;
  width: 100%;
  margin: 0 0 40px 0;
  background: #efefef;
  padding: 10px;
  position: relative;
  border-top-right-radius: 35px;
}

#form textarea,
#form input[type="text"] {
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 12px;
}

textarea:focus,
input[type="text"]:focus {
  outline: none;
}

#form textarea {
  border-top-right-radius: 35px;
}

#form input[type="text"] {
  margin: 0;
}

#form label {
  display: block;
  margin: 0 0 10px 0;
  font-size: 16px;
}

#form label small {
  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
}

#form .form-group {
  margin: 0 0 20px 0;
}

#form button {
  cursor: pointer;
  background: #fff;
  -webkit-appearance: none;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 15px 35px;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
  white-space: normal;
  color: #fff;
  background-color: #007aff;
  border-width: 1px;
  border-style: solid;
  border-color: #0062cc;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#output {
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 10px rgba(151,164,175,.1);
}

#output .item {
  background: #efefef;
  width: 100%;
  font-size: 12px;
  margin: 0 0 20px 0;
}

#output textarea {
  font-size: 12px;
}

#output .item article {
  margin: 10px 0 15px 0;
  padding: 5px;
}

#output .item pre,
#output .item code {
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#output .item header {
  display: flex;
  justify-content: space-between;
  background: #e2e2e2;
  padding: 5px;
  position: relative;
  padding-right: 35px;
}

#output .item header:after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 40px;
  background: #fff;
  right: 0;
  top: 0;
  transform: rotate(-45deg) translate(16px, -5px);
}

#output .item footer {
  display: flex;
  justify-content: space-between;
  background: #e2e2e2;
  padding: 5px;
}

#output .item footer .download {
  margin-right: 10px;
}

#output .item footer .left {
  display: inline-flex;
  align-items: flex-start;
}

.copy {
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: 0;
  color: #067df7;
  cursor: pointer;
}

.copy:hover {
  text-decoration: underline;
}

.copied {
  cursor: default;
}

.copied:hover {
  text-decoration: none;
}

#output .item footer .copy {
  margin-left: 0.5em;
}

#output .item time {
 display: inline-flex;
  align-items: flex-end;
  font-size: 12px;
  text-align: right;
  color: #999;
}

#output img {
  max-width: 500px;
  width: 100%;
}

#output video {
  width: 100%;
  height: auto;
  max-width: 500px;
}

#site-container {
    min-height: 100%;
    margin-bottom: -100px;
}

#site-container:after {
    content:"";
    display: block;
}

#footer, #site-container:after {
    height: 100px;
}

#footer {
  font-size: 1em;
  padding: 1em;
  text-align: right;
  width: 100%;
  background: #efefef;
}

#footer .container {
  display: flex;
  justify-content: space-between;
}

#footer .copyright {
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #b1b1b1;
}

#footer .copyright img {
    width: 100px;
    margin-left: 0.4em;
}

#footer .social {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#footer .social a {
    display: inline-flex;
    align-items: center;
    margin-left: 1em;
}

#terminal {
  min-height: 400px;
  resize: vertical;
  background: #000;
}

.terminal {
  font-family: "Menlo", "DejaVu Sans Mono", "Lucida Console", monospace;
}

.terminal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1em;
}

.terminal-full-screen {
  font-size: 1em;
}

.xterm-viewport::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.xterm-viewport::-webkit-scrollbar-track {
  background: #555;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #777;
  border: 1px solid #777;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

body.fullscreen {
  overflow: hidden;
}

body.fullscreen #terminal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
}

@media (max-width: 760px) {
  #header {
    flex-direction: column;
  }

  #output .item header,
  #output .item footer {
    flex-direction: column;
  }
}

.drag-and-drop1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid red;
}
