* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana,Geneva,sans-serif;
  color: #000;
  padding: 25px;
}

#site-container {
  max-width: 1200px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
  border: 1px solid #777;
  padding: 5px;
  font-family: Verdana,Geneva,sans-serif;
}

button {
  font-family: Verdana,Geneva,sans-serif;
}

a,
a:hover,
a:active,
a:focus {
  color: #4494c3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#connections {
  display: inline-block;
  width: auto;
  max-height: 120px;
  overflow: auto;
  font-size: 10px;
  white-space: pre-wrap;
  margin-bottom: 20px;
  background: rgba(239, 239, 239, 0.35);
  padding: 10px;
}

#header {
  margin: 0 0 25px 0;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  font-size: 32px;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
}

#header img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

#header hgroup {
}

#header .info {
  display: inline-block;
  margin: 10px 0 10px 0;
  font-size: 10px;
  color: #999;
  line-height: 1.4;
}

#header .info ul {
}

#header .channel {
  margin-top: 10px;
}

#header .channel a {
  font-size: 12px;
}

#header label {
  font-size: 12px;
}

#share-url {
  width: 180px;
}

#form {
  display: block;
  width: 100%;
  margin: 0 0 40px 0;
  background: #efefef;
  padding: 10px;
  position: relative;
}

#form:after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 40px;
  background: #fff;
  right: 0;
  top: 0;
  transform: rotate(-45deg) translate(16px, -5px);
}

#form textarea,
#form input[type="text"] {
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 12px;
}

#form input[type="text"] {
  margin: 0;
}

#form label {
  display: block;
  margin: 0 0 10px 0;
  font-size: 16px;
}

#form .form-group {
  margin: 0 0 20px 0;
}

#form button {
  border: 1px solid #777;
  padding: 10px 20px;
  cursor: pointer;
  background: #fff;
  color: #000;
  -webkit-appearance: none;
}

#output {
  width: 100%;
}

#output .item {
  background: #efefef;
  width: 100%;
  font-size: 12px;
  margin: 0 0 20px 0;
}

#output textarea {
  font-size: 12px;
}

#output .item article {
  margin: 10px 0 15px 0;
  padding: 5px;
}

#output .item pre,
#output .item code {
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#output .item header {
  display: flex;
  justify-content: space-between;
  background: #e2e2e2;
  padding: 5px;
  position: relative;
  padding-right: 35px;
}

#output .item header:after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 40px;
  background: #fff;
  right: 0;
  top: 0;
  transform: rotate(-45deg) translate(16px, -5px);
}

#output .item footer {
  display: flex;
  justify-content: space-between;
  background: #e2e2e2;
  padding: 5px;
}

#output .item footer .download {
  margin-right: 10px;
}

#output .item footer .left {
  display: inline-flex;
  align-items: flex-start;
}

#output .item time {
 display: inline-flex;
  align-items: flex-end;
  font-size: 12px;
  text-align: right;
  color: #999;
}

#output img {
  max-width: 500px;
  width: 100%;
}

#output video {
  width: 100%;
  height: auto;
  max-width: 500px;
}

#footer {
  font-size: 12px;
  padding: 20px 0;
  text-align: right;
}

#terminal {
  margin-bottom: 20px;
  min-height: 400px;
  resize: vertical;
  background: #000;
  padding: 1rem;
  display: none;
}

@media (max-width: 760px) {
  #header {
    flex-direction: column;
  }

  #output .item header,
  #output .item footer {
    flex-direction: column;
  }
}
